<mat-toolbar color="primary">
  <!-- <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button> -->

  <button
    mat-flat-button
    color="primary"
    routerLink=""
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="active"
  >
    Home
  </button>
  <button
    mat-flat-button
    color="primary"
    routerLink="todos"
    routerLinkActive="active"
    *ngIf="isAuth$ | async"
  >
    Todos
  </button>

  <span class="example-spacer"></span>
  <button mat-icon-button *ngIf="!(isAuth$ | async)" routerLink="login">
    <mat-icon>login</mat-icon>
  </button>
  <button mat-icon-button *ngIf="!(isAuth$ | async)" routerLink="registration">
    <mat-icon>person_add</mat-icon>
  </button>
  <div *ngIf="isAuth$ | async">Hello, {{ username$ | async }}</div>
  <button
    mat-icon-button
    *ngIf="isAuth$ | async"
    (click)="logout()"
    routerLink=""
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
